.message.info {
    display: flex;
    justify-content: center;
    margin-top: 46px;
    margin-bottom: 46px;
    span {
      display: inline-block;
      margin: auto;
      padding: 0 7.5px;
      color: #333333;
      font-size: 14px;
      letter-spacing: 0;
      line-height: 14px;
      font-weight: 400;
    }
  }
  
  @media (max-width: 767px) {
    .message.info {
      margin-top: 130px !important;
      margin-bottom: 46px;
      span {
      }
    }
  }
  