.checkbox-customize {
    display: block;
    position: relative;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    input {
        cursor: pointer;
        height: 17px;
        width: 17px;
        margin-right: 20px;
    }
}
